<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/css/style.css">
 <title>Home</title>
</head>
<body>
    <h1>Olá EJS</h1>
    <% if(nome) { %>
        <h2>Seja bem vindo <%= nome %>!</h2>
    <% } else { %>
        <h2>Seja bem vindo!</h2>
    <% } %>

    <%if (especie=='cachorro'){%> 
        <img src="/img/dog01.jpg" alt="">
        <%} else if (especie=='gato') {%> 
        <img src="/img/cat01.jpg" alt="">
        <%} else {%> 
        <img src="/img/default.png" alt="">
    <%}%>

</body>
</html>