<footer>
    <!--Rodapé-->
    <div class="container-fluid bg-warning my-10">
        <div class="row my-10">
            <div class="col-7 d-flex">
                <div class="row mx-auto">
                    <div class="col-3 col-sm-3 d-flex">
                        <a  href="index.html">
                            <img src="img/logo.png" alt="Logomarca da empresa" class="logoImg img-fluid align-text-center">
                        </a>
                    </div>
                    <div class="col-9 col-sm-9 mx-auto py-auto my-auto">
                        <h5 class="fs-5 text-center text-light text-break my-auto"><strong>® 2024 Ong Amigo do Pet - Diretos reservados</strong></h5>
                    </div>
                </div>

            </div>
           
            <div class="col-5 d-flex me-0">
                <!--Newsletter-->
                    <div class="my-2 mx-sm-auto me-md-0 text-center">
                        <h5 class="display-7 fs-6 text-light my-1 text-sm-left text-md-justify ms-md-3">Siga-nos</h5>
                        <a class="btn btn-outline-light mx-sm-auto ms-md-2 me-md-2" href="http://api.whatsapp.com/send?phone=5517997851320" target="_blank">
                            <i class="fab fa-whatsapp img-fluid"></i>
                        </a>
                        <a class="btn btn-outline-light mx-sm-auto me-md-2" href="#" target="_blank">
                            <i class="fab fa-instagram img-fluid"></i>
                        </a>
                        <a class="btn btn-outline-light mx-sm-auto me-md-2" href="#" target="_blank">
                            <i class="fab fa-facebook-square img-fluid"></i>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</footer> <!-- Fim Rodapé-->


</body>

</html>