<div id="idCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img class="img-fluid" src="./img/slide1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img class="img-fluid" src="./img/slide2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img class="img-fluid" src="./img/slide3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img class="img-fluid" src="./img/slide4.png" class="d-block w-100" alt="...">
      </div>
    </div>
</div><!-- Carousel -->